/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container{
	width:90%;
	margin:auto;
	background:linear-gradient(105deg, lightgray 60%,#b92b27 60%);
	
}


/* ---Service CSS begins below this line---- */
/* navigation bar for every html page */
.nav_bar{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center;
	border:solid 1px grey;
    /* background:linear-gradient( rgb(78, 48, 48) 40%,#692919 60%); */
	position: fixed;
	top: 0;
	width:90%;
	background: linear-gradient(to right,#b92b27,darkgray); 
	
}
.nav_bar a{
	text-decoration: none;
	color:darkgray;
}
.nav_bar a:hover{
	color:black;
}
.nav_bar .current{
	color:black;
  }
/* bg image */
.header-img{
	margin-top:30px;
	
}
.services-header-img{
width:100%;
}

/* Services */
.Services{

 border-bottom:solid 2px black;
 margin: 20px 30px 20px 30px;
}

 .Services p{
	margin-bottom:20px;
} 

/* Column-container */

.Column-container
{
	display: flex;
	flex-wrap:wrap;
	margin: 30px 30px 0px 30px;
}

.child{
	flex: 20 0 40%; /* explanation below */
	margin: 10px;
	height: 115px;	
	border:solid 2px black;
	border-radius:10px;
	padding: 20px; 
    width: 200px;
	height: 150px; 
	background:lightgray; 

}

.child button:hover{
	transform: skew(-20deg);
	border-left:2px;
	background:white;
}


/* bottom-content */
.bottom-content{
	border-top:solid 2px black;
	display: flex;
	padding-top:20px;
	margin: 20px 30px 0px 30px;
}

ul 
{
margin-top:20px;
}

li{
	display:list-item;
	list-style-type:square;
	list-style-position: inside;
}

/* ---Service HTML ends above this line--- */



/* header-container */
.header-container{
	display: flex;
	justify-content: space-around;
	padding-top:20px;
	margin:30px;
}

.header h1,button{
	display: flex;
	flex-wrap: wrap;
	

}
.header h1{
	font-size:50pt;
	padding-top:20px;
	align-items: baseline;
	
}

.header button{
	width: 50%;
	height: 10%;
}
.header button a{
	text-decoration:none;
	text-align:center;
	padding-left:20px;
	color:black;
}

.header button:hover{
	background:lightslategray;
	color:white;
	transform: scale(1.2);
	border-left:2px;
	border-color:gray;

}
.introimg{
	margin-top:30px 0 10px 30px;
}

/* top-content */

.top-content{
	border-top:dotted 2px black;
	display: flex;
	padding-top:20px;
	
}
.child1{
	margin:20px 30px 20px 30px;
}
.features{
	margin-right: 50px;
}

/* middle-img */
.middle-img{
	padding-top:10px;
	width:100%;
	height: 200px;	
}
/* bottom-content */
.bottom-content3{
display: flex;
border-bottom:dotted 2px black;
}
.child2{
	padding-bottom:10px;
	margin:20px 30px 20px 30px;
}

/* contact */
.contact{
	margin:0 0 0 30px;
		
}

/* footer */
footer{
	margin-top:20px;
	text-align: center;
}

/* media queries */
@media(max-width:600px){
.container {
	width:auto;
}


 .nav_bar{
	  display:flex;
	width: auto;
	  align-items:center;
 }

 .header-container{
	 display: flex;
	 flex-flow: column wrap;
	 width:auto;
	 height:fit-content;
 }

 .header-container button{
	 width:auto;
	 left:0;
 }

 .introimg{
	 width: auto;
	 height: auto;
 }
	 .Column-container
	{
		margin-top:20px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
	.bottom-content{
		border-top:solid 2px black;
		display: flex;
		flex-direction: row;
	    flex-wrap: wrap;
	
	} 

}